<div class="row">
    <div class="col-sm-8">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-warning">Минсельхоз <span class="badge">новый</span></a>
            <a href="#" class="list-group-item"><span class="glyphicon glyphicon-star"></span> OCSiAl<span class="badge">125 hours</span></a>
            <a href="#" class="list-group-item">Интариум<span class="badge">862 hours</span></a>
            <a href="#" class="list-group-item">Ремикс<span class="badge">47 hours</span></a>
            <a href="#" class="list-group-item">ФМБА <span class="badge">16 hours</span></a>
            <a href="#" class="list-group-item list-group-item-warning">Add project... </a>
        </div>
    </div>
</div>
