<ul class="nav small nav-pills">
    <li class="active">
        <a href="#">
            <span class="badge pull-right">42</span>
            All tasks
        </a>
    </li>
    <li>
        <a href="#">
            Comleted tasks
        </a>
    </li>
    <li>
        <a href="#">
            By people
        </a>
    </li>
    <li>
        <a href="#">
            By time
        </a>
    </li>
</ul>
<br>
<div class="btn-group">
    <button class="btn btn-default btn-xs active" type="button">
        Show today
    </button>
    <button class="btn btn-default btn-xs" type="button">
        Show this week
    </button>
    <button class="btn btn-default btn-xs" type="button">
        Show all time
    </button>
</div>
<div class="btn-group">
    <button class="btn btn-default btn-xs" type="button">
        Report today
    </button>
    <button class="btn btn-default btn-xs" type="button">
        Report this week
    </button>
    <button class="btn btn-default btn-xs" type="button">
        Report all time
    </button>
</div>
<br><br>
<div class="row">
    <div class="col-sm-12">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-warning">
                <input type="checkbox"> <strong>NOW</strong>
                В команде при наведении на правую колонку сотрудников - в левой двигается текст 
                <img src="" width="30" height="30" alt="Артем Погребной" class="media-object project-user-avatar">
                <img src="" width="30" height="30" alt="Илья Беда" class="media-object project-user-avatar">
                <img src="" width="30" height="30" alt="Бакланов Виталий" class="media-object project-user-avatar">
                <span class="badge">35 min / 1h 05m</span>
            </a>
            <div class="list-group-item">
                <div class="row">
                    <div class="col-sm-8">
                        <p>может не стоит выводить эту страницу в версии для слабовидящих?  можно редиректить на страницу с контактами. Слабовидящий чел фотографии всеровно не разглядит</p>
                    </div>
                </div>
                <div class="row">
                    <ul class="list-group _no-border">
                        <li class="list-group-item">
                            <img src="#" alt="" class="media-object project-user-avatar" width="30px" height="30px">
                            <a href="#">Артем Погребной</a> start 6 days ago
                            <span class="badge">Today 1h / All 12h 05m</span>
                        </li>
                        <li class="list-group-item">
                            <img src="#" alt="" class="media-object project-user-avatar" width="30px" height="30px">
                            <a href="#">Илья Беда</a> start 2 days ago
                            <span class="badge">Today 4h / All 24h 05m</span>
                        </li>
                        <li class="list-group-item">
                            <img src="#" alt="" class="media-object project-user-avatar" width="30px" height="30px">
                            <a href="#">Виталий Бакланов</a> start 8 days ago
                            <span class="badge">Today 35 min / All 2h 05m</span>
                        </li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="progress">
                            <div class="progress-bar progress-bar-success" style="width: 35%">
                                <span class="sr-only project-user-work-progress"><a href="#">Артем Погребной</a> 12 min</span>
                            </div>
                            <div class="progress-bar progress-bar-warning" style="width: 40%">
                                <span class="sr-only project-user-work-progress"><a href="#">Илья Беда</a> 38 min</span>
                            </div>
                            <div class="progress-bar progress-bar-danger" style="width: 25%">
                                <span class="sr-only project-user-work-progress"><a href="#">Виталий Бакланов</a> 18 min</span>
                            </div>
                        </div>
                    </div>                
                </div> 
            </div>
            <a href="#" class="list-group-item list-group-item-warning">
                <input type="checkbox"> <strong>NOW</strong>
                Проверить: баннеры применения неактивны внутри разделов
                <img src="" width="30" height="30" alt="" class="media-object project-user-avatar">
                <span class="badge">1h 21m / 10h 46m</span>
            </a>
            <a href="#" class="list-group-item">
                <input type="checkbox">
                В картах вставить вместо серого блок контакты со стартовой страницы
                <img src="" width="30" height="30" alt="Артем Погребной" class="media-object project-user-avatar">
                <img src="" width="30" height="30" alt="Илья Беда" class="media-object project-user-avatar">
                <span class="badge">86h</span></a>
            <a href="#" class="list-group-item">
                <input type="checkbox">
                Вынести меню в подвале и шапке сайта в отдельные виджеты, чтобы не приходилось во всех шаблонах руками менять ссылки
                <img src="" width="30" height="30" alt="Артем Погребной" class="media-object project-user-avatar">
                <span class="badge">47h 54m</span></a>
            <a href="#" class="list-group-item">
                <input type="checkbox">
                Нарисовать страницу "Документы"
                <img src="" width="30" height="30" alt="Артем Погребной" class="media-object project-user-avatar">
                <img src="" width="30" height="30" alt="Артем Погребной" class="media-object project-user-avatar">
                <img src="" width="30" height="30" alt="Артем Погребной" class="media-object project-user-avatar">
                <img src="" width="30" height="30" alt="Артем Погребной" class="media-object project-user-avatar">
                <img src="" width="30" height="30" alt="Артем Погребной" class="media-object project-user-avatar">
                <span class="badge">16h 1m</span></a>
        </div>
        <ul class="pager">
            <li><a href="#">Show 10 more</a></li>
        </ul>
        <h4>People hours</h4>
        <div class="list-group">
            <a href="#" class="list-group-item">
                <img src="" width="30" height="30" alt="Артем Погребной" class="media-object project-user-avatar">
                Артем Погребной
                <span class="badge">12h 05m</span>
            </a>
            <a href="#" class="list-group-item">
                <img src="" width="30" height="30" alt="Артем Погребной" class="media-object project-user-avatar">
                Илья Беда
                <span class="badge">12h 05m</span>
            </a>
            <a href="#" class="list-group-item">
                <img src="" width="30" height="30" alt="Артем Погребной" class="media-object project-user-avatar">
                Вадим Лалетин
                <span class="badge">12h 05m</span>
            </a>
            <a href="#" class="list-group-item">
                <img src="" width="30" height="30" alt="Артем Погребной" class="media-object project-user-avatar">
                Бакланов Виталий
                <span class="badge">12h 05m</span>
            </a>
        </div>
    </div>
</div>
